.THIS .tableWidth {
    width : 11.11%;
    padding : 0.2%;
}
.THIS .pageHeading{
    box-shadow: 5px 5px 5px #888888;
}
.THIS .table.tr:hover.td { 
   background-color: inherit;     
   opacity: 1.0;
}